body {
    --navyblue: #161840;
    background: var(--navyblue);
}
@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}
* {
    font-family: Raleway, serif;
}
img {
    width: auto;
    height: auto;
    max-width: 15px;
    max-height: 15px;
    float: left;
    margin: 10px;
    background: transparent;
    object-fit: cover;
}
.wrapper {

}
.top {
    display: grid;
    grid-template-columns: 28% 20% 20% 20%;
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: auto;
    position: relative;
    left: 105px;
}
.head-question {
    position: relative;
    font-size: xx-large;
    text-align: left;
    color: honeydew;
}
#task-input-field {
    height: 100%;
    width: 100%;
    --darkernavyblue: #0C0E24;
    background-color: var(--darkernavyblue);
    border: none;
    border-radius: 6px;
    caret-color: white;
    outline: none;
    color: honeydew;
}
.input-field-wrapper {
    padding-top: 55px;
    padding-bottom: 55px;
}
em {
    color: darkred;
    font-style: italic;
}

.main {
    margin-left: 150px;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 100px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    --darkernavyblue: #0C0E24;
    background-color: var(--darkernavyblue); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    padding-left: 15px;
    margin-right: 5px;
    color: honeydew;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: blue;
    width: 300px;
    height: 500px;
    margin-top: 50px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    --darkernavyblue: #0C0E24;
    background-color: var(--darkernavyblue);
    border: 3px solid black;
    border-radius: 15px;


    overflow: scroll;
}
.task {
    color: cornflowerblue;
    margin-left: 1px;
    margin-right: auto;
    font-size: 12px;
    width: 20vw;
}

.bulk-tasks {
    height: 100%;
    width: 100%;
    color: whitesmoke;
    text-align: left;
    font-size: 20px;
    margin-right: auto;
}
#new-task-button {
    margin: auto 1px 12px auto;
}
.pointer {
    cursor: pointer;
}

.task-div {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    width: 100%;

}
.start-task-button {
    margin-top: 25px;
}
.end-task-button {
    margin-top: 25px;
}
.delete-task-button {
    margin-top: 25px;
}

