body {
    --lavender: #B6D9FA;
    --darkerlavender: #9FC6FA;
    --darkestlavender: #76BAFA;
    --offwhite: #F7F9F5;
    --navyblue: #161840;
    --darkernavyblue: #0C0E24;
    background: var(--offwhite);
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}
* {
    font-family: Raleway, serif;
}

.wrapper {
    position: relative;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 60px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 10; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--lavender); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
}
.header {
    display: flex;
    margin-left: 97px;
    gap: 50px;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ensures header stretches across the full width */
    height: 50px;
    z-index: 9; /* Ensures header stays above other elements */
    margin-bottom: 50px;
    justify-content: left;
    align-content: center;
}

#main-container {
    display: flex;
    /*flex-wrap: wrap;*/
    gap: 2em;
    margin-left: 97px;
    overflow: hidden;
    /*justify-content: flex-start;*/
    margin-top: 120px;
    flex: 1;
    align-items: stretch;
}


.container {
    display: flex;
}

.section {
    /*position: fixed;*/
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    /*height: 100%;*/
    background: white;
    align-self: stretch;
    flex-direction: column;
}

.left {
    width: 30%; /* Set width for left section */
    background-color: #ddd;

}

.center {
    flex: 50%; /* Takes up twice the space of other sections */
    background-color: #eee;
}

.right {
    width: 20%; /* Set fixed width for right section */
    background-color: #ECCECE   ;
}
.head-question {
    /*position: relative;*/
    font-size: xx-large;
    text-align: left;
}
#task-input-field {
    height: 40px;
    width: 350px;
    background-color: var(--lavender);
    border: none;
    border-radius: 6px;
    outline: none;
    caret-color: black;
    /*margin-top: 38px;*/
}

h1 {
    color: black;
    font-weight: normal;
}

.box {
    display: flex;
    flex-direction: column;
    /*margin-top: 50px;*/
    padding: 10px;
    /*background-color: var(--lavender);*/
    border: 3px;
    border-radius: 5px;
    overflow: hidden;
}
.box:hover {
    overflow-y: scroll;
}


/*Flex basis is sort of like width*/
.task-box {
    /*margin-top: 50px;*/

    height: 450px;
    max-width: 300px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    color: honeydew;
    text-align: left;
    font-size: 20px;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}
.task-div {
    color: black;
    min-height: 30px;
    max-height: 80px;
    min-width: 100px;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    background-color: var(--darkerlavender);
    text-align: justify;
    padding: 5px 5px 5px 8px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}
.task-div-text {
    width: 60%;
    max-height: 90%;
    font-size: 15px;
    padding-right: 15px;
    vertical-align: middle;
    overflow: auto;
    /*word-break: break-all;*/
    hyphens: auto;
    word-wrap: break-word;
    white-space: initial;
}


#highlighted-task-box {
    max-height: 200px;
    min-width: 150px;
    max-width: 450px;
    flex: 1 1 150px;
    color: honeydew;
    visibility: hidden;
    padding: 15px;
}
#timer-div {
    display: none;
    text-align: center;
    color: black;
    min-width: 80px;
    flex: 1 1 80px;
    height: 50px;
    padding: 5px;
    overflow: hidden;
}
#timer-div-text {
    font-size: 20px;
    margin: auto;
}
.highlighted-task-time {
    text-align: center;
}
#new-task-button {
    margin: auto 1px 12px auto;
}
.pointer {
    cursor: pointer;
}

.highlighted-task-text {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0;
    outline: 0 solid transparent;
}
.highlighted-task-desc {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    outline: 0 solid transparent;
}
#highlighted-task-box {
    display: flex;
    color: black;
    text-align: center;
    align-items: center;
}
.focus-button {
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    padding: 7px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
    max-width: 70%;
    min-width: 25%;
    max-height: 25px;
    min-height: 15px;
    flex: 1 1 auto;
}
.focus-button:hover {
    cursor: pointer;
    background-color: var(--darkestlavender);
}
#end-focus-button {
    border: 2px solid black;
    border-radius: 20px;
}
.task-div:hover {
    background-color: var(--darkestlavender);
}
.grid-col-span-4 {
    grid-column: span 4;
}
.task-button {
    width: auto;
    height: auto;
    max-width: 15px;
    max-height: 15px;
    float: left;
    margin: auto;
    background: transparent;
    object-fit: cover;
}
.inner {
    width: 50px;
    height: 5px;
    background-color: #162E40;
}
.task-button:hover {
    cursor: pointer;
}
#stopwatch {
    text-align: center;
    font-size: 20px;
}

.context-menu {
    border-width: 1px;
    background-color: var(--darkestlavender);
    color: black;
    visibility: hidden;
    position: absolute;
    width: 100px;
    height: 160px;
    padding: 0;
}
.menu-item {
    padding: 5px 3px 2px 3px;
    font-size: 15px;
    border-bottom: 1px solid #162E40;
}
.menu-item:hover {
    background-color: var(--darkestlavender);
    cursor: pointer;
}

.side-button {
    height: auto;
    max-width: 70%;
    margin: 10%;
    border: 20px;
}
.side-button-container:hover {
    background-color: var(--darkerlavender);
    cursor: pointer;
}
.side-button-container {
    height: 5%;
    max-width: 80%;
    border-radius: 5px;
    margin-right: auto;
    margin-bottom: 15px;
    padding-left: 5px;
}
.day-rating {
    /*margin-top: 38px;*/
}
.input {
    border: none;
    border-radius: 5px;
}

.sun-img-div {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
    /*margin-top: 38px;*/
}
.sun-img-div:hover {
    background-color: #D9C041;
    cursor: pointer;
}
#sun-image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
    /*margin-top: 38px;*/
}
.modal {
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--lavender);
    visibility: visible;
    padding: 5px;
    max-width: 550px;
    max-height: 250px;
    color: #0C0E24;
    background-color: var(--lavender);
    z-index: 100;
}
.day-modal {
    width: 500px;
    height: 250px;
    max-width: 750px;
    max-height: 250px;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.break {
    flex-basis: 100%;
    height: 0;
}
a {
    display: block;
}
.button-class {
    background-color: var(--darkerlavender);
    color: black;
    border-width: 0;
    border-radius: 3px;
}
.button-class:hover {
    background-color: var(--darkestlavender);
    cursor: pointer;
}
.dialogue-head {
    font-size: 20px;
    margin-bottom: 15px;
}
a {
    color: black;
    text-underline: none;
}
#day-box {
    /*margin-top: 50px;*/
    height: 1000px;
    max-width: 650px;
    min-width: 200px;
    flex: 1 1 200px;
    color: black;
    padding: 15px;
}
#day-box-header {
    text-align: center;
    font-size: 30px;

}
#focus-settings-box {
    max-height: 200px;
    min-width: 200px;
    max-width: 450px;
    flex: 0 1 75px;
    color: black;
    display: none;
    /*visibility: hidden;*/
    padding: 15px;
}
.big-focus-container {
    /*margin-top: 50px;*/

    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 150px;
    max-width: 450px;
    height: 460px;
    flex: 1 1 150px;
    flex-wrap: wrap;
}
.small-focus-container {
    display: flex;
    gap: 5px;
    min-width: 150px;
    flex: 1 1 150px;
}
.placeholder {
    font-size: 10px;
}
.header-text {
    max-height: 100px;
}
/*form  { display: table;      }*/
/*p     { display: table-row;  }*/
/*label { display: table-cell; }*/
/*input { display: table-cell; }*/

/*--------------------------------------------------------------------------------------------------------*/
/*Task page*/
.pane {
    margin-left: 82px;

    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 600px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 5; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: var(--darkestlavender); /* Black */
    /*overflow-x: hidden; !* Disable horizontal scroll *!*/
    border-width: 10px;
    border-color: black;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    /*margin-right: 5px;*/
}
