body {
    --navyblue: #161840;
    background: var(--navyblue);
}
@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}
* {
    font-family: Raleway, serif;
}
img {

}
.wrapper {

}
#all {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 150px;

}
.top {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    left: 105px;
}
.head-question {
    position: relative;
    font-size: xx-large;
    text-align: left;
    color: honeydew;
}
#task-input-field {
    height: 100%;
    width: 100%;
    --darkernavyblue: #0C0E24;
    background-color: var(--darkernavyblue);
    border: none;
    border-radius: 6px;
    caret-color: white;
    outline: none;
    color: honeydew;
}
.input-field-wrapper {
    padding-top: 45px;
    padding-bottom: 45px;
}
em {
    color: darkred;
    font-style: italic;
}

.main {
    display: grid;
    margin-left: 150px;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 60px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    --darkernavyblue: #0C0E24;
    background-color: var(--darkernavyblue); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    color: honeydew;
}
.box {
    display: flex;
    flex-direction: column;

    margin-top: 50px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    --darkernavyblue: #0C0E24;
    background-color: #0C0E24;
    border: 3px solid black;
    border-radius: 15px;
    overflow: hidden;
}
.box:hover {
    overflow-y: scroll;
}

.bulk-tasks-div {
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: end;
    color: honeydew;
    text-align: left;
    font-size: 20px;
    margin-right: auto;
}
#highlighted-task-div {
    color: honeydew;
    visibility: hidden;
    width: 240px;
    height: 150px;
    padding: 15px;
}
#timer-div {
    color: honeydew;
    width: 80px;
    height: 50px;
    padding: 15px;
}
#timer {

}
.highlighted-task-time {
    text-align: center;
}
#new-task-button {
    margin: auto 1px 12px auto;
}
.pointer {
    cursor: pointer;
}

.task-div {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    width: 95%;
    background-color: #161840;
    text-align: justify;
    padding: 5px 5px 5px 10px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}
.task-text {
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    overflow: auto;
}
.highlighted-task-text {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 0;
}
.highlighted-task-desc {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    outline: 0 solid transparent;
}
#highlighted-task-div {
    text-align: center;
}
.task-div:hover {
    background-color: #162E40;
}
.start-task-button {

}
.end-task-button {
}
.delete-task-button {
}
.grid-col-span-4 {
    grid-column: span 4;
}
.task-button {
    width: auto;
    height: auto;
    max-width: 15px;
    max-height: 15px;
    float: left;
    margin: auto;
    background: transparent;
    object-fit: cover;
}

#stopwatch {
    text-align: center;
    font-size: 20px;
}

.context-menu {
    border-radius: 10px;
    border-width: 1px;
    background-color: #161840;
    color: honeydew;
    visibility: hidden;
    position: absolute;
    width: 100px;
    height: 160px;
}
.menu-item {
    font-size: 20px;
    border-bottom: 2px solid #162E40;
}
.menu-item:hover {
    background-color: #162E40;
}
#day-div {

}

.side-button {

    height: auto;
    max-width: 70%;
    margin: 10%;
    border: 20px;
}
.side-button-container:hover {
    background-color: #162E40;
    cursor: pointer;
}
.side-button-container {
    height: 5%;
    max-width: 80%;
    border-radius: 5px;
    margin-right: auto;
    margin-bottom: 15px;
    padding-left: 5px;
}