body {
    --lavender: #B6D9FA;
    --darkerlavender: #9FC6FA;
    --darkestlavender: #76BAFA;
    --offwhite: #F7F9F5;
    --navyblue: #161840;
    --darkernavyblue: #0C0E24;
    background: var(--offwhite);
}
@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}
* {
    font-family: Raleway, serif;
}

.wrapper {
    position: relative;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 60px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--lavender); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    color: honeydew;
}
#all {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-left: 120px;
    overflow: hidden;
    justify-content: flex-start;
}
.head-question {
    position: relative;
    font-size: xx-large;
    text-align: left;
}
#task-input-field {
    height: 40px;
    width: 350px;
    background-color: var(--lavender);
    border: none;
    border-radius: 6px;
    outline: none;
    caret-color: black;
    margin-top: 58px;
}
.input-field-wrapper {
}


.box {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    background-color: var(--lavender);
    border: 3px;
    border-radius: 5px;
    overflow: hidden;
}
.box:hover {
    overflow-y: scroll;
}

.task-box {
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: end;
    color: honeydew;
    text-align: left;
    font-size: 20px;
    overflow: hidden;
}
#highlighted-task-div {
    height: 200px;
    width: 450px;
    color: honeydew;
    visibility: hidden;

    padding: 15px;
}
#timer-div {
    visibility: hidden;
    display: flex;
    text-align: center;
    color: black;
    width: 80px;
    height: 50px;
    padding: 5px;
    overflow: hidden;
}
#timer-div-text {
    font-size: 20px;
    margin: auto;
}
#timer {

}
.highlighted-task-time {
    text-align: center;
}
#new-task-button {
    margin: auto 1px 12px auto;
}
.pointer {
    cursor: pointer;
}

.task-div {
    color: black;
    display: grid;
    grid-template-columns: 70% 15% 15%;
    width: 95%;
    background-color: var(--darkerlavender);
    text-align: justify;
    padding: 5px 5px 5px 10px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}
.task-text {
    font-size: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    overflow: auto;
}
.highlighted-task-text {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0;
    outline: 0 solid transparent;
}
.highlighted-task-desc {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    outline: 0 solid transparent;
}
#highlighted-task-div {
    display: flex;
    color: black;
    text-align: center;
}
.focus-button {
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
}
.focus-button:hover {
    cursor: pointer;
    background-color: var(--darkestlavender);
}
#end-focus-button {
    border: 2px solid black;
    border-radius: 20px;
}
.task-div:hover {
    background-color: var(--darkestlavender);
}
.start-task-button {

}
.end-task-button {
}
.delete-task-button {
}
.grid-col-span-4 {
    grid-column: span 4;
}
.task-button {
    width: auto;
    height: auto;
    max-width: 15px;
    max-height: 15px;
    float: left;
    margin: auto;
    background: transparent;
    object-fit: cover;
}

#stopwatch {
    text-align: center;
    font-size: 20px;
}

.context-menu {
    border-width: 1px;
    background-color: var(--darkerlavender);
    color: black;
    visibility: hidden;
    position: absolute;
    width: 100px;
    height: 160px;
    padding: 0;
}
.menu-item {
    padding: 5px 3px 2px 3px;
    font-size: 15px;
    border-bottom: 1px solid #162E40;
}
.menu-item:hover {
    background-color: var(--darkestlavender);
}

.side-button {
    height: auto;
    max-width: 70%;
    margin: 10%;
    border: 20px;
}
.side-button-container:hover {
    background-color: var(--darkerlavender);
    cursor: pointer;
}
.side-button-container {
    height: 5%;
    max-width: 80%;
    border-radius: 5px;
    margin-right: auto;
    margin-bottom: 15px;
    padding-left: 5px;
}
.day-rating {
    margin-top: 58px;
}

.sun-img-div {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
    margin-top: 58px;
}
.sun-img-div:hover {
    background-color: var(--darkerlavender);
    cursor: pointer;
}
#sun-image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
    margin-top: 58px;
}
.modal {
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--lavender);
    visibility: visible;
    padding: 5px;
    max-width: 550px;
    max-height: 250px;
    color: #0C0E24;
    background-color: var(--lavender);
}
.day-modal {
    width: 500px;
    height: 250px;
    max-width: 750px;
    max-height: 250px;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.task-box-container {
    grid-row: 2 / 5;
    grid-column: 1 / 3;
}
.break {
    flex-basis: 100%;
    height: 0;
}
a {
    display: block;
}
.button-class {
    background-color: var(--darkerlavender);
    color: black;
    border-width: 0;
    border-radius: 3px;
}
.button-class:hover {
    background-color: var(--darkestlavender);
    cursor: pointer;
}
.dialogue-head {
    font-size: 20px;
    margin-bottom: 15px;
}
a {
    color: black;
    text-underline: none;
}
/*form  { display: table;      }*/
/*p     { display: table-row;  }*/
/*label { display: table-cell; }*/
/*input { display: table-cell; }*/