version: "3.9"
services:
  productivity-app:
    image: productivity-app:SNAPSHOT
    ports:
      - "8080:8080"
    depends_on:
      - postgres
  postgres:
    image: postgres:11.21-bullseye
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
volumes:
  postgres-data:
    external: true
