# Postgres configuration
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase
KEYCLOAK_DB=keycloak

# Keycloak configuration
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=adminpassword

# Grafana configuration
GRAFANA_USER=admin
GRAFANA_PASSWORD=grafanapassword
