#root {
  /*max-width: 1280px;*/
  margin: 0;
  padding: 0;
  text-align: center;
    max-width: 100%;
}

body {
    --lavender: #B6D9FA;
    --darkerlavender: #9FC6FA;
    --darkestlavender: #76BAFA;
    --offwhite: #F7F9F5;
    --navyblue: #161840;
    --darkernavyblue: #0C0E24;
    --lemongray: #D6D4D7;
    --priorityred: #FF614B;
    --priorityyellow: #FAEC66;
    --priorityblue: #9FCAFA;
    --prioritycolor: var(--priorityblue);
    /*background: white;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
}
@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}
* {
    font-family: Raleway, serif;
    /*color: black;*/
    /*background-color: white;*/
}
.container {
    container-type: inline-size;
}
@container(width < 250px)  {
    .box div  {
        font-size: 1em;

    }
    .task-button img {
        transform: scale(0.5);
    }
}

.wrapper {
    position: relative;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 60px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 10; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /*background-color: var(--lavender); !* Black *!*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    border-right: 1px gray solid;
}
.header {
    display: flex;
    margin-left: 90px;
    gap: 50px;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ensures header stretches across the full width */
    height: 50px;
    z-index: 9; /* Ensures header stays above other elements */
    margin-bottom: 50px;
    /*justify-content: left;*/
    /*align-content: center;*/
    border-bottom: 1px solid gray;
    /*box-sizing: border-box;*/
}

#main-container {
    display: flex;
    /*flex-wrap: wrap;*/
    margin-left: 90px;
    overflow: hidden;
    /*justify-content: flex-start;*/
    margin-top: 90px;
    flex: 1;
    align-items: stretch;
    height: 50%;

}


.container {
    display: flex;
}

.section {
    display: flex;
    padding: 10px 25px 25px 25px;
    /*box-sizing: border-box;*/
    /*height: 100%;*/
    /*background: white;*/
    flex-direction: column;
    /*border-right: 1px solid gray;*/
    gap: 2em;
    overflow: auto;
    height: 100vh;
    max-height: 100vh;
}

.left-section {
    width: 25%; /* Set width for left section */
    padding: 10px 25px 25px 25px;
    /*background-color: #ddd;*/
    overflow: scroll;
}

.center-section {
    flex: 1 1 35%; /* Takes up twice the space of other sections */
    max-width: 40%;
    /*padding: 35px 25px 25px 25px;*/
    /*background-color: #eee;*/
}

.right-section {
    flex: 1 1 auto;
    /*padding: 35px 25px 25px 25px;*/
    /*width: 20%; !* Set fixed width for right section *!*/
    /*background-color: #ECCECE   ;*/
}
.head-question {
    /*position: relative;*/
    font-size: xx-large;
    text-align: left;
    margin: 0;
}
#task-input-field {
    height: 40px;
    width: 350px;
    /*background-color: var(--lemongray);*/
    border: none;
    border-radius: 6px;
    outline: none;
    caret-color: black;
    /*margin-top: 38px;*/
}

h1 {
    /*color: black;*/
    font-weight: normal;
}

.box {
    display: flex;
    flex-direction: column;
    /*margin-top: 50px;*/
    padding: 10px;
    /*background-color: var(--lavender);*/
    /*border: 3px;*/
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
    /*border: 0.1px solid #FEFEFE;*/
}
.box:hover {
    overflow-y: scroll;
}
.box-shadow {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
    /*border: 0.1px solid #FEFEFE;*/
}
.box-header {
    text-align: center;
    font-size: 30px;
}


/*Flex basis is sort of like width*/
.tasks-div {
    width: 90%;
    display: flex;
    flex-direction: column;
    /*color: black;*/
    /*background-color: white;*/
    text-align: left;
    font-size: 20px;
    overflow: scroll;
    padding: 20px 10px 20px 20px;
    max-height: 300px;
    min-height: max-content;

}
#today-tasks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*border-radius: 20px;*/
    /*min-height: 1000px;*/
}
#Next-week-tasks-container {
    margin-bottom: 50px;
}
.task-div {
    /*color: black;*/
    min-height: 30px;
    max-height: 100px;
    /*min-width: 200px;*/
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    /*background-color: white;*/
    text-align: justify;
    padding: 5px 5px 5px 8px;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
    border: 0.1px #FEFEFE;
    text-overflow: ellipsis;

}
/*.task-div::before {*/
/*    display: block;*/
/*    content: "";*/
/*    min-width: 12px;*/
/*    min-height: 12px;*/
/*    height: 12px;*/
/*    width: 12px;*/
/*    border-radius: 50%;*/
/*    background-color: var(--prioritycolor, var(--priorityblue));*/
/*    z-index: 1000;*/
/*    !*left: -25px;*!*/
/*    !*bottom: 25px;*!*/
/*    position: relative;*/
/*}*/
.circle {
    display: block;
    content: "";
    min-width: 12px;
    min-height: 12px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    z-index: 10000;
}
.task-div-text {
    text-overflow: ellipsis;
    overflow: scroll;
    width: 60%;
    max-height: 90%;
    font-size: 15px;
    padding-right: 15px;
    vertical-align: middle;
    /*word-break: break-all;*/
    hyphens: auto;
    word-wrap: break-word;
    white-space: initial;
    margin-left: 10px;
}
.add-task-button {
    align-self: flex-end;
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.logo {
    height: 2em;
    /*padding: 1.5em;*/
    will-change: filter;
    transition: filter 300ms;
}
/*.icon {*/
/*    filter: brightness(0) invert(0.7);*/
/*}*/

/*------------------------HIGHLIGHTED TASK BOX-----------------------------------*/
#highlighted-task-box {
    display: flex;
    /*color: black;*/
    text-align: center;
    align-items: center;
    /*visibility: hidden;*/
    padding: 15px;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
    text-overflow: ellipsis;
    /*border: 0.1px solid #FEFEFE;*/
}



#timer-div {
    display: none;
    text-align: center;
    /*color: black;*/
    min-width: 80px;
    flex: 0 1 auto;
    height: 50px;
    padding: 5px;
    overflow: hidden;
}
#timer-div-text {
    /*font-size: 20px;*/
    margin: auto;
}
.highlighted-task-time {
    text-align: center;
}
#new-task-button {
    margin: auto 1px 12px auto;
}
.pointer {
    cursor: pointer;
}

.highlighted-task-text {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0;
    outline: 0 solid transparent;
}
.highlighted-task-desc {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    outline: 0 solid transparent;
}

#highest-priority-task-box {
    display: flex;
    /*color: black;*/
    text-align: center;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
    text-overflow: ellipsis;
    /*border: 2px solid var(--priorityred);*/
;
}
/*#priority-task-text::before {*/
/*    display: block;*/
/*    content: "";*/
/*    min-width: 12px;*/
/*    min-height: 12px;*/
/*    height: 12px;*/
/*    width: 12px;*/
/*    border-radius: 50%;*/
/*    background-color: var(--priorityred);*/
/*    z-index: -100;*/
/*    left: -15px;*/
/*    bottom: -5px;*/
/*    position: relative;*/
/*}*/
.focus-button {
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    padding: 7px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
    max-width: 70%;
    min-width: 25%;
    max-height: 25px;
    min-height: 15px;
    flex: 1 1 auto;
}
.focus-button:hover {
    cursor: pointer;
    background-color: var(--lemongray);
}
#end-focus-button {
    border: 2px solid black;
    border-radius: 20px;
}
.task-div:hover {
    /*background-color: var(--lemongray);*/
}
.grid-col-span-4 {
    grid-column: span 4;
}
.task-button {
    width: auto;
    height: auto;
    max-width: 15px;
    max-height: 15px;
    float: left;
    margin: auto;
    background: transparent;
    object-fit: cover;
}
.inner {
    width: 50px;
    height: 5px;
    background-color: #162E40;
}
.task-button:hover {
    cursor: pointer;
}
#stopwatch {
    text-align: center;
    font-size: 20px;
}

.context-menu {
    border-width: 1px;
    /*color: black;*/
    /*background-color: white;*/
    visibility: hidden;
    position: absolute;
    width: 100px;
    height: 160px;
    padding: 0;
    z-index: 10;
}
.menu-item {
    padding: 5px 3px 2px 3px;
    font-size: 15px;
    border-bottom: 1px solid #162E40;
}
.menu-item:hover {
    background-color: var(--darkestlavender);
    cursor: pointer;
}

.side-button {
    height: auto;
    max-width: 70%;
    margin: 10%;
    border: 20px;
}
.side-button-container:hover {
    background-color: var(--lemongray);
    cursor: pointer;
}
.side-button-container {
    height: 5%;
    max-width: 80%;
    border-radius: 5px;
    margin-right: auto;
    margin-bottom: 15px;
    padding-left: 5px;
}
.day-rating {
    /*margin-top: 38px;*/
    /*align-self: center;*/
}
.input {
    border: none;
    border-radius: 5px;
}

.sun-img-div {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
    /*margin-left: auto;*/
    /*margin-top: 38px;*/
}
.sun-img-div:hover {
    background-color: var(--priorityyellow);
    cursor: pointer;
}
#sun-image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
    /*margin-top: 38px;*/
}
.modal {
    border-radius: 5px;
    border-width: 1px;
    visibility: visible;
    padding: 5px;
    max-width: 550px;
    max-height: 250px;
    /*background-color: var(--lavender);*/
    z-index: 100;
}
.day-modal {
    width: 500px;
    height: 250px;
    max-width: 750px;
    max-height: 250px;
    border: 0;
}
#create-task-modal {
    /*display: flex;*/
    width: 350px;
    height: 250px;
    flex-wrap: wrap;
}
p > input {
    width: 100%;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.break {
    flex-basis: 100%;
    height: 0;
}
a {
    display: block;
}
.button-class {
    /*background-color: var(--darkerlavender);*/
    /*color: black;*/
    border-width: 0;
    border-radius: 3px;
}
.button-class:hover {
    /*background-color: var(--darkestlavender);*/
    cursor: pointer;
}
.dialogue-head {
    font-size: 20px;
    margin-bottom: 15px;
}
a {
    /*color: black;*/
    text-underline: none;
}
#day-box {
    flex: 0 1 200px;
    /*color: black;*/
    padding: 15px;
    flex-wrap: wrap;
}
#day-box-header {
    align-self: flex-start;
}
#day-box-rating {
    align-self: flex-end;
}

.day-text {
    text-align: left;
}
#focus-settings-box {
    max-height: 200px;
    min-width: 200px;
    max-width: 450px;
    flex: 0 1 auto;
    color: black;
    display: none;
    /*visibility: hidden;*/
    padding: 15px;
}
.big-focus-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 150px;
    max-width: 450px;
    height: 460px;
    flex: 1 1 150px;
    flex-wrap: wrap;
}
.small-focus-container {
    display: flex;
    gap: 5px;
    min-width: 150px;
    flex: 1 1 150px;
}
.placeholder {
    font-size: 10px;
}
.header-text {
    max-height: 100px;
    margin-left: 25px;
}
/*form  { display: table;      }*/
/*p     { display: table-row;  }*/
/*label { display: table-cell; }*/
/*input { display: table-cell; }*/

[contenteditable="true"]:empty:not(:focus):before {
    content: attr(data-placeholder);
    color: grey;
}



/*------------------------TASK PAGE----------------------------------------------------------------*/
.pane {
    margin-left: 82px;

    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 600px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 5; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: var(--darkestlavender); /* Black */
    /*overflow-x: hidden; !* Disable horizontal scroll *!*/
    border-width: 10px;
    border-color: black;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    /*margin-right: 5px;*/
}
